In [6]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords

In [7]:
data = pd.read_csv('../artifacts/data_ingestion/UpdatedResumeDataSet.csv')
data.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  962 non-null    object
 1   Resume    962 non-null    object
dtypes: object(2)
memory usage: 15.2+ KB

In [9]:
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sush0\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [10]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r'[^a-zA-Z ]', '', text)  
    text = " ".join([word for word in text.split() if word not in stop_words])
    return text

In [11]:
data['cleaned_text'] = data['Resume'].apply(clean_text)
data['cleaned_text']

0      skills programming languages python pandas num...
1      education details may may uitrgpvdata scientis...
2      areas interest deep learning control system de...
3      skills r python sap hana tableau sap hana sql ...
4      education details mca ymcaust faridabad haryan...
                             ...
957    computer skills proficient ms office word basi...
958    willingness accept challenges positive thinkin...
959    personal skills quick learner eagerness learn ...
960    computer skills software knowledge mspower poi...
961    skill set os windows xp database mysql sql ser...
Name: cleaned_text, Length: 962, dtype: object

In [12]:
from collections import Counter

all_words = " ".join(data['cleaned_text']).split()
common_words = Counter(all_words).most_common(100)

for word, freq in common_words:
    print(f"{word}: {freq}")

exprience: 3829
details: 3043
project: 2732
data: 1990
company: 1927
management: 1768
team: 1609
maharashtra: 1435
year: 1307
testing: 1167
development: 1151
less: 1145
system: 1143
business: 1129
test: 1116
using: 1085
database: 1029
application: 965
engineering: 943
skills: 920
work: 891
pune: 875
pvt: 831
java: 815
services: 803
sql: 800
reports: 762
monthscompany: 746
server: 736
developer: 732
customer: 731
sales: 725
software: 723
various: 711
client: 705
requirements: 696
process: 692
education: 691
technical: 687
design: 672
working: 657
operations: 633
like: 632
responsibilities: 621
web: 618
india: 612
ltddescription: 600
per: 585
january: 585
automation: 584
support: 572
based: 567
windows: 559
knowledge: 557
quality: 550
used: 549
information: 543
time: 532
manager: 530
computer: 527
technologies: 525
college: 522
activities: 521
training: 521
projects: 517
new: 505
different: 499
python: 498
worked: 495
c: 484
issues: 484
mysql: 476
engineer: 466
technology: 461
systems: 456
mumbai: 456
managing: 455
handling: 450
requirement: 449
users: 446
involved: 443
etc: 441
experience: 439
performance: 436
network: 435
science: 432
control: 425
user: 422
environment: 420
html: 418
oracle: 416
clients: 414
developed: 409
ensure: 409
analysis: 405
maintenance: 404
developing: 403
monitoring: 402
ensuring: 399
related: 397

In [13]:
# skills_list = [
#     'python', 'java', 'c++', 'c#', 'javascript', 'typescript', 'go', 'ruby', 'php', 'swift', 'kotlin',
#     'html', 'css', 'react', 'angular', 'vue.js', 'node.js', 'bootstrap', 'tailwind css', 'wordpress',
#     'sql', 'mysql', 'postgresql', 'mongodb', 'sqlite', 'nosql', 'redis', 'oracle',
#     'machine learning', 'deep learning', 'data analysis', 'data visualization', 'pandas', 'numpy',
#     'matplotlib', 'seaborn', 'scikit-learn', 'tensorflow', 'keras', 'pytorch', 'nlp', 'computer vision',
#     'openai', 'huggingface', 'xgboost', 'lightgbm', 'excel', 'powerbi', 'tableau', 'looker',
#     'google data studio', 'sas', 'r', 'aws', 'azure', 'google cloud platform', 'docker', 'kubernetes',
#     'terraform', 'ansible', 'jenkins', 'github', 'ci/cd','cicd', 'ethical hacking', 'penetration testing',
#     'network security', 'firewalls', 'vulnerability assessment', 'incident response', 'kali linux',
#     'wireshark', 'agile', 'scrum', 'kanban', 'jira', 'confluence', 'trello', 'slack', 'project planning',
#     'stakeholder management', 'business analysis', 'market research', 'budgeting', 'forecasting',
#     'accounting', 'financial modeling', 'financial reporting', 'quickbooks', 'sap', 'erp',
#     'adobe photoshop', 'adobe illustrator', 'figma', 'sketch', 'adobe xd', 'canva', 'wireframing',
#     'prototyping', 'adobe premiere', 'after effects', 'final cut pro', 'blender', 'davinci resolve',
#     'research methodology', 'lab techniques', 'data interpretation', 'clinical trials', 'literature review',
#     'autocad', 'solidworks', 'matlab', 'simulink', 'ansys', 'revit', 'catia', 'emr',
#     'electronic health records', 'patient care', 'medical terminology', 'healthcare compliance',
#     'diagnosis coding', 'pharmacy management', 'communication', 'leadership', 'teamwork',
#     'problem solving', 'critical thinking', 'time management', 'adaptability', 'conflict resolution',
#     'creativity'
# ]
from src.Resume_Screening.constants import *

ModuleNotFoundError: No module named 'src'

In [ ]:
def extract_skills_from_cleaned_text(cleaned_text, skills_list):
    found_skills = []
    for skill in skills_list:
        if skill in cleaned_text:
            found_skills.append(skill)
    return found_skills

data['extracted_skills'] = data['cleaned_text'].apply(lambda x: extract_skills_from_cleaned_text(x, skills_list))

NameError: name 'data' is not defined

In [ ]:
data['extracted_skills'][0]

['python',
 'java',
 'javascript',
 'go',
 'html',
 'css',
 'angular',
 'bootstrap',
 'sql',
 'mysql',
 'machine learning',
 'deep learning',
 'pandas',
 'numpy',
 'matplotlib',
 'computer vision',
 'tableau',
 'r',
 'docker',
 'accounting',
 'erp']

In [ ]:
import re
import pandas as pd

class ResumeProcessor:
    def __init__(self, skills_list=None):
        self.skills_list = skills_list or []

    def extract_experience_in_months(self, text):
        text = text.lower()

        # Extract years
        year_matches = re.findall(r'(\d+(?:\.\d+)?)\s*(?:\+)?\s*(?:years?|yrs?|yr)', text)
        total_years = sum(float(y) for y in year_matches)

        # Extract months
        month_matches = re.findall(r'(\d+(?:\.\d+)?)\s*(?:months?|mos?)', text)
        total_months = sum(float(m) for m in month_matches)

        return round(total_years * 12 + total_months)

    def extract_skills(self, text):
        found_skills = []
        text = text.lower()
        for skill in self.skills_list:
            if skill.lower() in text:
                found_skills.append(skill)
        return list(set(found_skills))  # Remove duplicates

    def process_dataframe(self, df, text_column='resume_text'):
        df['experience_months'] = df[text_column].apply(self.extract_experience_in_months)
        if self.skills_list:
            df['skills_found'] = df[text_column].apply(self.extract_skills)
        return df

    def one_hot_encode_skills(self, df, skills_column='skills_found'):
        for skill in self.skills_list:
            df[f'skill_{skill.lower()}'] = df[skills_column].apply(lambda x: int(skill in x))
        return df

In [ ]:
rp = ResumeProcessor()

In [ ]:
data['experience_months'] = data['Resume'].apply(rp.extract_experience_in_months)

In [ ]:
data['experience_months']

0       72
1       84
2       96
3      149
4       72
      ...
957     18
958     24
959      0
960     18
961     90
Name: experience_months, Length: 962, dtype: int64

In [ ]:
skills_ohe_df = pd.DataFrame(
    [
        [int(skill in skills) for skill in skills_list]
        for skills in data['extracted_skills']
    ],
    columns=[f'skill_{skill.replace(" ", "_")}' for skill in skills_list]
)

# Concatenate with the original DataFrame (avoid fragmentation)
# df = pd.concat([df, skills_ohe_df], axis=1)

In [ ]:
skills_ohe_df

,skill_python,skill_java,skill_c++,skill_c#,skill_javascript,skill_typescript,skill_go,skill_ruby,skill_php,skill_swift,...,skill_pharmacy_management,skill_communication,skill_leadership,skill_teamwork,skill_problem_solving,skill_critical_thinking,skill_time_management,skill_adaptability,skill_conflict_resolution,skill_creativity
0,1,1,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,1,0,0,1,...,0,1,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
957,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
958,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
959,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
960,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
961,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
role_skill_map = (
    data.groupby('Category')['extracted_skills']
    .sum()  # combine lists
    .apply(lambda x: list(set(x)))  # remove duplicates
    .to_dict()
)

In [ ]:
# Step 1: Define new function to return both count and percentage
def get_matching_skills(row):
    role_skills = set(role_skill_map.get(row['Category'], []))
    resume_skills = set(row['extracted_skills'])
    match_count = len(role_skills.intersection(resume_skills))
    total_role_skills = len(role_skills)
    match_percent = (match_count / total_role_skills * 100) if total_role_skills > 0 else 0
    return pd.Series([match_count, round(match_percent, 2)])

# Step 2: Apply and assign to two new columns
data[['matching_skill_count', 'matching_skill_percent']] = data.apply(get_matching_skills, axis=1)

# Step 3: De-fragment the DataFrame to avoid PerformanceWarning
data = data.copy()

In [ ]:
data

,Category,Resume,cleaned_text,extracted_skills,experience_months,matching_skill_count,matching_skill_percent
0,Data Science,Skills * Programming Languages: Python (pandas...,skills programming languages python pandas num...,"[python, java, javascript, go, html, css, angu...",72,21.0,53.85
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,education details may may uitrgpvdata scientis...,"[python, machine learning, keras, r, aws, gith...",84,7.0,17.95
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",areas interest deep learning control system de...,"[python, java, go, sql, mysql, machine learnin...",96,14.0,35.90
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,skills r python sap hana tableau sap hana sql ...,"[python, go, swift, css, sql, machine learning...",149,13.0,33.33
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",education details mca ymcaust faridabad haryan...,"[python, java, data analysis, r]",72,4.0,10.26
...,...,...,...,...,...,...,...
957,Testing,Computer Skills: â¢ Proficient in MS office (...,computer skills proficient ms office word basi...,"[go, excel, r, creativity]",18,4.0,28.57
958,Testing,â Willingness to accept the challenges. â ...,willingness accept challenges positive thinkin...,"[go, r, erp, communication]",24,4.0,28.57
959,Testing,"PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...",personal skills quick learner eagerness learn ...,"[go, r, leadership]",0,3.0,21.43
960,Testing,COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...,computer skills software knowledge mspower poi...,"[r, matlab]",18,2.0,14.29
961,Testing,Skill Set OS Windows XP/7/8/8.1/10 Database MY...,skill set os windows xp database mysql sql ser...,"[java, html, css, sql, mysql, r, sap]",90,7.0,50.00

In [ ]:
data.columns

Index(['Category', 'Resume', 'cleaned_text', 'extracted_skills',
       'experience_months', 'matching_skill_count', 'matching_skill_percent'],
      dtype='object')

In [ ]:
def compute_resume_score(row, role_skill_map = role_skill_map, max_exp_months=140, skill_weight=0.7, exp_weight=0.3):
    # Extract role-based skills
    role_skills = set(role_skill_map.get(row['Category'], []))
    resume_skills = set(row['extracted_skills'])

    # Skill match
    match_count = len(role_skills.intersection(resume_skills))
    total_role_skills = len(role_skills)
    skill_match_percent = (match_count / total_role_skills * 100) if total_role_skills > 0 else 0

    # Experience score (normalized to 100 scale)
    exp_months = row.get('experience_months', 0)
    exp_score = min(exp_months / max_exp_months * 100, 100)

    # Final score (weighted average)
    final_score = (skill_match_percent * skill_weight) + (exp_score * exp_weight)

    return pd.Series([
        match_count,
        round(skill_match_percent, 2),
        round(exp_score, 2),
        round(final_score, 2)
    ])

NameError: name 'role_skill_map' is not defined

In [ ]:
data[['matching_skill_count', 'matching_skill_percent', 'experience_score', 'resume_score']] = data.apply(
    compute_resume_score,
    axis=1,
    role_skill_map=role_skill_map
)

# Optional: clean memory fragmentation
data = data.copy()

NameError: name 'data' is not defined

In [ ]:
data

,Category,Resume,cleaned_text,extracted_skills,experience_months,matching_skill_count,matching_skill_percent,experience_score,resume_score
0,Data Science,Skills * Programming Languages: Python (pandas...,skills programming languages python pandas num...,"[python, java, javascript, go, html, css, angu...",72,21.0,53.85,51.43,53.12
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,education details may may uitrgpvdata scientis...,"[python, machine learning, keras, r, aws, gith...",84,7.0,17.95,60.00,30.56
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",areas interest deep learning control system de...,"[python, java, go, sql, mysql, machine learnin...",96,14.0,35.90,68.57,45.70
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,skills r python sap hana tableau sap hana sql ...,"[python, go, swift, css, sql, machine learning...",149,13.0,33.33,100.00,53.33
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",education details mca ymcaust faridabad haryan...,"[python, java, data analysis, r]",72,4.0,10.26,51.43,22.61
...,...,...,...,...,...,...,...,...,...
957,Testing,Computer Skills: â¢ Proficient in MS office (...,computer skills proficient ms office word basi...,"[go, excel, r, creativity]",18,4.0,28.57,12.86,23.86
958,Testing,â Willingness to accept the challenges. â ...,willingness accept challenges positive thinkin...,"[go, r, erp, communication]",24,4.0,28.57,17.14,25.14
959,Testing,"PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...",personal skills quick learner eagerness learn ...,"[go, r, leadership]",0,3.0,21.43,0.00,15.00
960,Testing,COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...,computer skills software knowledge mspower poi...,"[r, matlab]",18,2.0,14.29,12.86,13.86
961,Testing,Skill Set OS Windows XP/7/8/8.1/10 Database MY...,skill set os windows xp database mysql sql ser...,"[java, html, css, sql, mysql, r, sap]",90,7.0,50.00,64.29,54.29

In [ ]:
role_skill_map

{'Advocate': ['go', 'adaptability', 'r', 'erp', 'aws'],
 'Arts': ['go', 'adaptability', 'r', 'communication', 'erp', 'sas', 'excel'],
 'Automation Testing': ['go',
  'oracle',
  'jenkins',
  'kanban',
  'erp',
  'mysql',
  'machine learning',
  'autocad',
  'sql',
  'java',
  'jira',
  'javascript',
  'python',
  'excel',
  'emr',
  'html',
  'r',
  'communication',
  'agile',
  'time management',
  'critical thinking',
  'scrum'],
 'Blockchain': ['docker',
  'go',
  'mongodb',
  'oracle',
  'problem solving',
  'css',
  'mysql',
  'erp',
  'aws',
  'machine learning',
  'sql',
  'java',
  'javascript',
  'sap',
  'python',
  'angular',
  'react',
  'html',
  'r',
  'communication',
  'postgresql',
  'computer vision',
  'php'],
 'Business Analyst': ['go',
  'oracle',
  'accounting',
  'problem solving',
  'erp',
  'autocad',
  'sql',
  'java',
  'jira',
  'javascript',
  'forecasting',
  'business analysis',
  'excel',
  'html',
  'r',
  'communication',
  'agile',
  'prototyping',
  'scrum',
  'php'],
 'Civil Engineer': ['autocad',
  'go',
  'r',
  'erp',
  'communication',
  'sap',
  'catia',
  'excel'],
 'Data Science': ['bootstrap',
  'docker',
  'matlab',
  'leadership',
  'swift',
  'go',
  'oracle',
  'accounting',
  'problem solving',
  'seaborn',
  'css',
  'pandas',
  'mysql',
  'matplotlib',
  'erp',
  'nlp',
  'aws',
  'keras',
  'github',
  'machine learning',
  'sql',
  'java',
  'forecasting',
  'javascript',
  'numpy',
  'sap',
  'angular',
  'python',
  'excel',
  'tensorflow',
  'tableau',
  'kali linux',
  'deep learning',
  'data visualization',
  'html',
  'r',
  'communication',
  'computer vision',
  'data analysis'],
 'Database': ['leadership',
  'go',
  'oracle',
  'mongodb',
  'accounting',
  'jenkins',
  'erp',
  'mysql',
  'aws',
  'machine learning',
  'sql',
  'java',
  'jira',
  'sap',
  'python',
  'excel',
  'r',
  'communication',
  'postgresql',
  'sas',
  'azure'],
 'DevOps Engineer': ['bootstrap',
  'leadership',
  'matlab',
  'go',
  'oracle',
  'accounting',
  'jenkins',
  'css',
  'mysql',
  'erp',
  'project planning',
  'aws',
  'github',
  'ansible',
  'machine learning',
  'sql',
  'java',
  'jira',
  'javascript',
  'forecasting',
  'sap',
  'python',
  'angular',
  'excel',
  'tableau',
  'cicd',
  'html',
  'r',
  'communication',
  'agile',
  'time management',
  'confluence',
  'conflict resolution',
  'azure',
  'sas',
  'scrum',
  'budgeting',
  'php'],
 'DotNet Developer': ['bootstrap',
  'leadership',
  'sql',
  'java',
  'typescript',
  'javascript',
  'go',
  'patient care',
  'excel',
  'accounting',
  'html',
  'css',
  'r',
  'adaptability',
  'erp',
  'sas',
  'agile',
  'angular'],
 'ETL Developer': ['sql',
  'java',
  'jira',
  'go',
  'oracle',
  'problem solving',
  'r',
  'erp',
  'communication',
  'mysql',
  'agile',
  'aws',
  'excel',
  'time management'],
 'Electrical Engineering': ['leadership',
  'autocad',
  'go',
  'problem solving',
  'r',
  'erp',
  'communication',
  'sap',
  'excel',
  'budgeting'],
 'HR': ['leadership',
  'matlab',
  'java',
  'go',
  'accounting',
  'r',
  'communication',
  'scrum',
  'excel'],
 'Hadoop': ['leadership',
  'go',
  'oracle',
  'css',
  'mysql',
  'erp',
  'aws',
  'github',
  'machine learning',
  'sql',
  'java',
  'forecasting',
  'javascript',
  'sap',
  'python',
  'nosql',
  'tableau',
  'emr',
  'html',
  'r',
  'communication',
  'azure'],
 'Health and fitness': ['leadership',
  'market research',
  'go',
  'conflict resolution',
  'r',
  'communication',
  'erp',
  'sas',
  'excel',
  'time management'],
 'Java Developer': ['bootstrap',
  'swift',
  'go',
  'oracle',
  'mongodb',
  'problem solving',
  'jenkins',
  'css',
  'erp',
  'mysql',
  'sql',
  'java',
  'javascript',
  'sap',
  'excel',
  'angular',
  'network security',
  'html',
  'r',
  'communication',
  'postgresql',
  'azure',
  'php'],
 'Mechanical Engineer': ['autocad',
  'go',
  'solidworks',
  'r',
  'erp',
  'sas',
  'catia',
  'excel'],
 'Network Security Engineer': ['go',
  'oracle',
  'firewalls',
  'problem solving',
  'accounting',
  'creativity',
  'r',
  'communication',
  'erp',
  'python',
  'sas',
  'excel',
  'network security'],
 'Operations Manager': ['leadership',
  'sql',
  'go',
  'problem solving',
  'accounting',
  'r',
  'erp',
  'communication',
  'teamwork',
  'sap',
  'excel',
  'time management'],
 'PMO': ['time management',
  'leadership',
  'forecasting',
  'go',
  'confluence',
  'r',
  'erp',
  'communication',
  'sap',
  'excel',
  'budgeting'],
 'Python Developer': ['go',
  'mongodb',
  'oracle',
  'css',
  'pandas',
  'mysql',
  'erp',
  'github',
  'sql',
  'java',
  'jira',
  'numpy',
  'sqlite',
  'angular',
  'python',
  'tensorflow',
  'excel',
  'html',
  'r',
  'communication',
  'agile',
  'prototyping',
  'postgresql',
  'computer vision',
  'sas',
  'scrum'],
 'SAP Developer': ['leadership',
  'sql',
  'java',
  'excel',
  'go',
  'oracle',
  'r',
  'erp',
  'teamwork',
  'communication',
  'sas',
  'sap',
  'python'],
 'Sales': ['sql',
  'go',
  'problem solving',
  'r',
  'erp',
  'communication',
  'excel'],
 'Testing': ['leadership',
  'matlab',
  'sql',
  'java',
  'go',
  'creativity',
  'r',
  'erp',
  'communication',
  'html',
  'css',
  'mysql',
  'sap',
  'excel'],
 'Web Designing': ['bootstrap',
  'sql',
  'java',
  'go',
  'javascript',
  'adobe photoshop',
  'html',
  'css',
  'r',
  'mysql',
  'erp',
  'sas',
  'agile',
  'adobe illustrator',
  'angular',
  'php']}

In [ ]:
data['matching_skill_percent'].unique()

array([53.85, 17.95, 35.9 , 33.33, 10.26, 15.38, 48.72, 30.77, 11.11,
       22.22, 66.67, 55.56, 80.  , 20.  , 40.  , 60.  , 42.86, 28.57,
       85.71, 14.29, 56.25, 68.75, 12.5 , 75.  , 50.  , 25.  , 62.5 ,
       30.  , 37.5 , 17.39, 26.09, 39.13, 43.48, 21.74, 47.83, 30.43,
       13.04, 10.  , 45.  , 38.46, 22.73, 18.18, 45.45, 59.09, 31.82,
       70.  , 41.67, 58.33, 61.54,  7.69, 23.08, 57.69, 31.58, 28.95,
       15.79, 63.16, 21.05, 42.11, 26.32, 46.15, 81.82, 63.64, 38.1 ,
       19.05, 27.27, 40.91, 35.71, 78.57, 44.44, 61.11,  4.35, 52.17,
       65.22, 34.78, 21.43])